<!doctype html>
<html ng-app="myApp">  
    <head>    
        <title>Shhh Encrpyted Chat</title>    
        <link rel="stylesheet" href="/CSS/styles.css">     
    </head>  
            
    <body ng-controller="mainController">
        <h1>Send and receive messages below</h1>
        <ul id="messages"></ul>    
        <div>      
            <input id="m" ng-model="message" autocomplete="off" />      
            <button ng-click="send()">Send</button>    
        </div>  
    </body>
    
</html>
