<section class="title">
    <div class="container-fluid nav-container">
        {{>navbar}}
    </div>
</section>
<section class="container-fluid" id="pageNotFound">
        <section class="row justify-content-center title">
            <h1> 404: Page not Found.</h1>
        </section>
               
</section>